/************************************Class Selectors - BEGIN************************************/
.main-class1 {
  position: relative;
  top: 600px;
}

.weare-coming {
  font-size: 4rem;
  color: #CE9797;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  letter-spacing: 4px;
  position: absolute;
  bottom: 250px;
  left: 130px;
  text-transform: uppercase;

}

.input-box-input {
  border: 1px solid #CE9797;
  text-indent: 25px;
  color: #CE9797;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 80%;
  border-radius: 25px;
  width: 70%;
  height: 50px;
}

.input-box-submit-button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 40px;
  box-shadow: -1px 15px 20px rgba(3, 3, 3, .1);
  border: none;
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
  width: 90px;
}

.article-container-input-box {
  position: relative;
}

.logo {
  position: absolute;
  left: 130px;
  padding-top: 2.5%;
}

.heroine-image {
  width: 85%;
  float: right
}

.main-class2 {
  margin-left: 130px;
  width: 86%;
  color: #CE9797;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 0;
  position: absolute;
  top: 400px;
}

/************************************Class Selectors - END************************************/

/************************************Tag Selectors - BEGIN************************************/

span {
  color: #413A3A;
  font-weight: 400;
}

body {
  background-color: #ECE4E4;
  margin: 0;
}

/************************************Tag Selectors - END************************************/